body {
  min-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; 
  background: #f0f0f0;
}

* {
  font: 100% -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #3d8a3f;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  line-height: 1.5;
  margin: 0 0 16px;  
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.header-line, .footer-line {
  width: 100%;
  background-color: black;
  height: 8px;
}

.content-block {
  display: grid;
  justify-content: center;
  margin: 25px 0px;
  flex-grow: 1;
}

/* Header section */
.header-block {
  color: black;
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid transparent;
  position: relative;
  z-index: 2;
}

.header-nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 8px auto;
  width: 100%;
  height: 80px;
  padding: 0px 1.5rem;
}

.header-link {
  height: 60px;
  text-decoration: none;
}

.header-list {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;

  list-style-type: none;
}

.header-list-element {
  margin: 0;
  margin-right: 1.75rem;
}

.header-list-element-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

/* Buttons sections */

.header-list-element-link-border, .new-comment-submit, .new-post-add-picture-new, .new-post-submit, .new-post-categorie-add, .register-button, .login-button {
  margin: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #4CAF50;
  background: transparent;
  color: rgb(51, 51, 51);
  transition: all 0.1s ease 0s;

  font-weight: 700;
  font-size: 18px;
}

.header-list-element-link-border:hover, .new-comment-submit:hover, .new-post-add-picture-new:hover, .new-post-submit:hover, .new-post-categorie-add:hover, .register-button:hover, .login-button:hover {
  border: 1px solid transparent;
  background: #4CAF50;
  color: rgb(255, 255, 255);
}

.new-comment-submit:hover {
  width: 88px;
}

.header-list-element-link-border[type="logout"] {
  border: 1px solid #cf1515;
}

.header-list-element-link-border[type="logout"]:hover {
  background: #cf1515;
}

/* Category section */

.post-entry-categories-header {
  font-size: 17px;
  color: #999;
  margin: 10px 0;
}

.category-box {
  border: 1px solid #cccccc;
  background-color: #dfdfdf;
  height: fit-content;
}

.category-box:hover {
  border: 1px solid #afafaf;
  background-color: #aaa9a9;
  height: fit-content;
}

.category-box-content {
  padding: 0 5px;  
}

.post-entry-categories, .post-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

a[type="category"] {
  font-weight: 500;
  color: #464646;
}

/* Alert Section */
.page-alert {
  max-width: 300px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 500;
}

.alert {
  padding: 26px 32px 16px;
  display: block;
  border-radius: 8px;
  border: 2px solid rgba(23, 160, 23, 0.65);
  background-color: rgba(23, 160, 23, 0.65);
}

.alert-text {
  text-align: center;  
  font-size: 16px;
  color: white;
  margin: 0;
}

.page-alert-close {
  position: absolute;
  text-align: center;
  top: 7px;
  right: 7px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity .3s ease;
  fill: white;
} 

/* Footer Section */
.footer {
  display: flex;
  place-content: space-between;
  padding: 5px 10px;
  background-color: white;
  margin-top: auto;
}

.footer h1 {
  margin: 0;
}