* {
    font: 100% -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #3d8a3f;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    line-height: 1.5;
    margin: 0 0 16px;  
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

/* Header section */

.header-block {
    color: black;
    background: #fff;
  
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid transparent;
    position: relative;
    z-index: 2;
}
  
.header-line {
    width: 100%;
    background-color: black;
    height: 8px;
}

.header-nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 8px auto;
    width: 100%;
    height: 80px;
    padding: 0px 1.5rem;
}

.header-link {
    height: 60px;
    text-decoration: none;
}

.header-list {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;

    list-style-type: none;
}

.header-list-element {
    margin: 0;
    margin-right: 1.75rem;
}

.header-list-element-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Buttons sections */

.header-list-element-link-border, .new-comment-submit, .new-post-add-picture-new, .new-post-submit, .new-post-categorie-add {
    margin: 0px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #4CAF50;
    background: transparent;
    color: rgb(51, 51, 51);
    transition: all 0.1s ease 0s;

    font-weight: 700;
    font-size: 18px;
}

.header-list-element-link-border:hover, .new-comment-submit:hover, .new-post-add-picture-new:hover, .new-post-submit:hover, .new-post-categorie-add:hover {
    border: 1px solid transparent;
    background: #4CAF50;
    color: rgb(255, 255, 255);
}

.new-comment-submit:hover {
    width: 88px;
}

.header-list-element-link-border[type="logout"] {
    border: 1px solid #cf1515;
}

.header-list-element-link-border[type="logout"]:hover {
    background: #cf1515;
}


/* Alert section */

.hero-block {
    width: 100%;
    height: 100px;
}

.alert-section {
    margin: 5px 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
  
.alert {
    width: calc(100% + 25px);
    height: calc(100% + 25px);
    border-radius: 20px;
    border: 2px solid rgba(23, 160, 23, 0.65);
    background-color: rgba(23, 160, 23, 0.65);
    color: white;
    display: inline-table;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0 20px;    
}

/* Posts Section */

.content-block {
    display: grid;
    justify-content: center;
}

.content {
    width: 700px;
    float: left;
    margin: 5px 5px 0 5px;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 25px;
}

.content-header {
    text-align: center;
    font-size: 24px;
}

/* Exact-Post sections */

.content-post {
    border-bottom: 1px solid #dfdfdf;
    padding: 0 0 35px;
    margin: 0 0 35px;
}

.post-entry-title-text {
    text-decoration: none;
    color: #464646;
    
    font-size: 24px;
    line-height: 36px;
    font-weight: 700 !important;
}

.post-entry-info {
    font-size: 15px;
    color: #999;
    margin: 0 0 15px;
}

.post-entry-content {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.post-entry-content-image-link {
    align-self: center;
}

.post-entry-content-text {
    padding: 0 25px;
}

.post-entry-content-text p {
    font-size: 16px;
    line-height: 1.8em;
}

/* Category section */

.post-entry-categories-header, .post-categories-header {
    text-align: center;
    font-size: 17px;
    color: #999;
    margin: 10px 0;

}

.category-box {
    border: 1px solid #cccccc;
    background-color: #dfdfdf;
    height: fit-content;
}

.category-box:hover {
    border: 1px solid #afafaf;
    background-color: #aaa9a9;
    height: fit-content;
}

.category-box[type="show-more"] {
    border: 1px solid #77cc66;
    background-color: #c7f2a3
}

.category-box:hover[type="show-more"] {
    border: 1px solid #77cc66;
    background-color: rgb(108, 202, 89);
}

.category-box-content {
    padding: 0 5px;  
}

.post-entry-categories, .post-categories {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

a[type="category"] {
    font-weight: 500;
    color: #464646;
}