/* main page */
.buttons-section {
  height: 100%;
  width: 100%;
  margin-top: 25%;
  
  display: inline-flex;
  justify-content: center;

  gap: 25px
}

button {
  font-size: 2vw;
}

/* Registration page */
.registration-wrap {
  text-align: center;
}

.registration-seciton {
  height: 100%;
  margin-top: 15vw;

  display: inline-grid;
  justify-content: center;

  gap: 25px;

  padding: 12px 20px 40px 18px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 25%);
}

.registration-header {
  color: #4F4F4F;
  padding: 0px;
  font: bold 17px georgia,sans-serif;
  text-shadow: #779 2px 3px 7px;
  text-align: center;
  font-size: 25px;
}

.registration-form {
  text-align: center;
}

.form-element {
  display: inherit;

  height: 40px;
  width: 250px;
  margin: 30px
}

.error-notification {
  margin: 0 0 0 0
}

label {
  font-size: 15px; 
  font-weight: bold;
}

.error-notification {
  color: #d45252;
  font-size: 15px; 
}

input {
  color: #383838;
  width: calc(100% - 8px);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 6px;
  font-size: 14px; 
  margin-top: 4px;
  margin-bottom: 2px;
}

input[type="submit"] {
  background-color: #4d881f;
  color: white;
  font-weight: bold;
  width: 50%;
  height: 10%;
}

input[type="submit"]:hover {
  background-color: #80c04f;
  border-color: 5px solid black;
  width: calc(50% + 8px);
  height: calc(10% + 2px);
}

input:focus {
  outline: none !important;
  border:1px solid #6e6e6e;
  box-shadow: 0 0 6px #383838;
}
