<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css"/>
  <title>Forum</title>
</head>
<body>
  <div class="buttons-section">
    <div class="login-button">
      <button onclick="window.location.href='/login';">Login</button>
    </div>
    <div class="registration-button">
      <button onclick="window.location.href='/registration';">Registration</button>
    </div>
  </div>
</body>
</html>