<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <script type="text/javascript" src="/js/login.js"></script>
  <title>Forum - login</title>
</head>
<body> 
  <div class="login-wrap">
    <div class="login-section" style="background-color: white;">
      <h1 class="login-header">Login</h1>
      <form method="post" id="login-form" class="login-form">
        <p class="form-element">
          <label for="login">Username/Email:</label>
          <input type="text" id="login" name="login" value="{{.Login}}" required>
          {{if .LoginErr}}
          <span class="error-notification" id="login-error">{{.LoginErr}}</span>
          {{end}}
        </p>
        <p class="form-element">
          <label for="pass">Password:</label>
          <input type="password" id="pass" name="password" value="" required>
          {{if .PassErr}}
          <span class="error-notification" id="password-error">{{.PassErr}}</span>
          {{end}}
        </p>
        <button class="login-button" type="submit" from="login-form" value="Submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>