<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Forum - Main</title>
</head>
<body style="margin: 0;" onload="InitMainPage(loggedIn, messageType, alertMessage); ">
    <header class="header-main">
        <nav class="header-nav">
            <a href="/" class="header-link">
                <svg width="64" height="64" fill="none" style="fill: rgb(51, 51, 51);">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 32C28.8366 32 36 26.6274 36 20C36 13.3726 28.8366 8 20 8C11.1634 8 4 13.3726 4 20C4 22.6842 5.17509 25.1626 7.16049 27.1616C6.35561 29.4537 5.31284 31.1723 4.6499 32.1319C4.4071 32.4834 4.65714 32.9802 5.08289 32.9453C6.78453 32.8058 10.1224 32.3105 12.3741 30.5519C14.6411 31.4754 17.2389 32 20 32Z" fill="#333333"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7843 33.8337C31.4033 32.7928 38 26.9957 38 20.0002C38 19.4632 37.9611 18.9333 37.8855 18.4121C41.5534 20.1003 44 23.136 44 26.6002C44 28.7476 43.0599 30.7303 41.4716 32.3295C42.068 34.0278 42.8276 35.3325 43.3579 36.1259C43.5953 36.481 43.3423 36.9779 42.917 36.9372C41.5041 36.8021 39.0109 36.3773 37.3007 35.0418C35.4872 35.7806 33.4089 36.2002 31.2 36.2002C27.9781 36.2002 25.0343 35.3074 22.7843 33.8337Z" fill="#333333"/>
                </svg>
            </a>
            <ul class="header-list" id="header-list" style="display: none;">
                <li class="header-list-element" id="login-element">
                    <a href="/login" class="header-list-element-link" id="login-link">
                        <span class="header-list-element-link-border" name="login/account">Login</span>
                    </a>
                </li>
                <li class="header-list-element" id="registration-element">
                    <a href="/registration" class="header-list-element-link">
                        <span class="header-list-element-link-border">Register</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="header-line"></div>
    <section class="hero">
        <div class="alert-section">
            <div style="display: none" name="alert" onclick="this.parentElement.style.display='none';">
            <h1 class="alert" style="font-size: 20px;" name="alert-text">Account successfully created!</h1>
            </div>
        </div>
    </section>
</body>
<script>
    var loggedIn = "{{.LoggedIn}}"
    var messageType = "{{.AlertType}}"
    var alertMessage = "{{.Message}}"
  </script>
</html>