<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/new.css" />
  <script type="text/javascript" src="/js/alert.js"></script>
  <script type="text/javascript" src="/js/new.js"></script>
  <title>Forum - New Post</title>
</head>

<body>
  {{ if eq .LoggedIn true }}
  {{template "logged-in-header.html"}}
  {{ else }}
  {{template "basic-header.html"}}
  {{ end }}
  <section class="hero-block">
    <div class="alert-section">
      <div style="display: none; width: fit-content;" name="alert" type="{{.AlertType}}" onclick="ClearAlertMessage(this)">
        <h1 class="alert" style="font-size: 20px;" name="alert-text">{{.Message}}</h1>
      </div>
    </div>
  </section>
  <section class="content-block">
    <div class="content-area">
      <main class="new-main-section">
        <h1>Add New Post</h1>
        <form class="new-post-form" enctype="multipart/form-data" method="post" id="mainForm">
            <input class="new-post-title" id="title" name="title" placeholder="Enter title here" required>
            <input class="new-post-categories" id="categories" name="categories" style="display: none;">
            <textarea class="new-post-textarea" name="new-content" id="new-content" required></textarea>
            <div class="new-post-picture">
              <label>Choose a post picture:</label>
              <div class="new-post-pictre-button">
                  <input class="new-post-add-picture-old" type="file" name="myImage" accept="image/png, image/gif, image/jpeg" id="getImage" onchange="CheckFileSize(this)" required />
                  <button class="new-post-add-picture-new" type="button" onclick="document.getElementById('getImage').click()">Choose Image</button>
                  <label id="imageName"></label>
              </div>
            </div>
        </form>
        <button class="new-post-submit" onclick="SubmitForm()">Publish</button>
      </main>
      <aside class="new-sidebar">
        <div class="categories-widget">
          <h1>Set Categories</h1>
          <div class="add-new-categorie">
            <input class="new-post-categorie" id="newCategorie" name="categorie" placeholder="Enter categorie here">
            <button class="new-post-categorie-add" onclick="AddCategorie()">Add</button>
          </div>
          <div class="all-new-categories" id="allNewCategories">
          </div>
        </div>
      </aside>
    </div>
  </section>
  {{template "footer.html"}}
</body>
</html>