<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/registration.css"/>
  <script type="text/javascript" src="/js/registration.js"></script>
  <title>Forum - registration</title>
</head>
<body>
  <div class="registration-wrap">
    <div class="registration-section" style="background-color: white;">
      <h1 class="registration-header">Registration</h1>
      <form method="post" id="registration-form" class="registration-form">
        <p class="form-element">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" value="{{.Username}}" minlength="4" required>
          {{if .NameErr}}
          <span class="error-notification" id="name-error">{{.NameErr}}</span>
          {{end}}
        </p>
        <p class="form-element">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" value="{{.Email}}" required>
          {{if .EmailErr}}
          <span class="error-notification" id="email-error">{{.EmailErr}}</span>
          {{end}}
        </p>
        <p class="form-element">
          <label for="pass">Password:</label>
          <input type="password" id="pass" name="password" value="" minlength="6" required><br>
        </p>
        <button class="register-button" type="submit" from="registration-form" value="Submit">Register</button>
      </form>
    </div>
  </div>
</body>
</html>