<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
  <title>Forum - registration</title>
</head>
<body onload="ReturnData()">
  <div class="registration-wrap">
    <div class="registration-seciton">
      <h1 class="registration-header">Registration</h1>
      <form method="post" id="registration" class="registration-form">
        <p class="form-element" style="margin-top: 0px;">
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username" value="" minlength="4" required><br>
          <span class="error-notification" id="name"></span>
        </p>
        <p class="form-element">
          <label for="email">Email:</label><br>
          <input type="text" id="email" name="email" value="" required><br>
          <span class="error-notification" id="email"></span>
        </p>
        <p class="form-element" style="margin-bottom: 30px;">
          <label for="pass">Password:</label><br>
          <input type="password" id="pass" name="password" value="" minlength="6" required><br><br>
        </p>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>
<script>
  var nameError = "{{.NameErr}}"
  var emailError = "{{.EmailErr}}"
  function ReturnData() {
    if (nameError == "true" || emailError == "true") {
        document.getElementById("username").value = "{{.Username}}"
        document.getElementById("email").value = "{{.Email}}"
    }

    if (nameError == "true") {
      document.getElementsByTagName("span").namedItem("name").innerHTML = "Username is already taken"
      document.getElementsByTagName("input").namedItem("username").style.boxShadow = "0 0 6px #d45252"
      document.getElementsByTagName("input").namedItem("username").style.borderColor = "#d45252"
    }

    if (emailError == "true") {
      console.log(document.getElementsByClassName("error-notification").value)
      document.getElementsByTagName("span").namedItem("email").innerHTML = "Email is already registered"
      document.getElementsByTagName("input").namedItem("email").style.boxShadow = "0 0 6px #d45252"
      document.getElementsByTagName("input").namedItem("email").style.borderColor = "#d45252"
    }
  }
</script>
</body>
</html>