<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/registration.css"/>
  <script type="text/javascript" src="/js/registration.js"></script>
  <title>Forum - registration</title>
</head>
<body onload="ReturnData(nameError, emailError, username, email)">
  <div class="registration-wrap">
    <div class="registration-seciton">
      <h1 class="registration-header">Registration</h1>
      <form method="post" id="registration" class="registration-form">
        <p class="form-element" style="margin-top: 0px;">
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username" value="" minlength="4" required><br>
          <span class="error-notification" id="name"></span>
        </p>
        <p class="form-element">
          <label for="email">Email:</label><br>
          <input type="text" id="email" name="email" value="" required><br>
          <span class="error-notification" id="email"></span>
        </p>
        <p class="form-element" style="margin-bottom: 30px;">
          <label for="pass">Password:</label><br>
          <input type="password" id="pass" name="password" value="" minlength="6" required><br><br>
        </p>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>
</body>
<script>
  var nameError = "{{.NameErr}}"
  var emailError = "{{.EmailErr}}"
  var username = "{{.Username}}"
  var email = "{{.Email}}"
</script>
</html>